.project{
  margin: 0;
  padding: 0;
  margin-top: 50px;
  margin-bottom: 50px;
}

.projetos{
  cursor: pointer;
  position: relative;
  column-count: 2;
  column-gap: 2rem;
}
.projetos > img{
  position: relative;
  width: 520px;
  aspect-ratio: 4/2;
  object-fit: cover;
  transition: .5s;
}
.projetos > img:hover{
  scale: 1.2;
  z-index: 2;
  transition: .5s;
  border-radius: 10px;
}

h2{
  font-size: 5rem;
  margin-bottom: 3rem;
  text-align: center;
}
span{
  color: var(--main-color);
}