.education-row{
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
}

.education-row .education-column{
  margin: 20px;
  column-count: 2;
  column-gap: 1;
}

.education-box .education-content{
  position: relative;
  padding-left: 2.5rem;
}

.education-content .content{
  position: relative;
  padding: 1.5rem;
  border: .2rem solid var(--main-color);
  border-radius: .6rem;
  margin-bottom: 2rem;
}

.education-content .content .year{
  font-size: 1.5rem;
  color: var(--main-color);
  padding-bottom: .5rem;
}

.education-content .content .year h3{
  font-size: 1rem;
  font-weight: 400;
}

.year > p{
  font-size: 1.6rem;
  font-weight: 100;
  padding-top: .5rem;
}