@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body{
  background-color: var(--color-bl);
  color: var(--color-wt);
}

:root{
  --color-bl: #272727;
  --color-wt: #d1d1d1;
  --main-color: #5CACC1;
}

section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}