@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color:  var(--text-color);
}

body {
  background: rgb(2,0,28);
  background: var(--bg-color);
  transition: 2.2s;
}

:root{
  --bg-color: linear-gradient(188deg, rgba(2,0,28,1) 0%, rgba(126,166,221,1) 55%, rgba(2,0,28,1) 100%);
  --text-color: white;
  --main-color: #00c8ff;
}